extends layout 

block content 
  h1 Become an Admin!

  form.adminForm(method='POST' action='')
    label#adminCode(for='adminCode') Enter the secret code to become an admin. The code is 'upgrade'.
    input#adminCodeInput(type='text' name='adminCode')
    input#adminCodeSubmit(type='submit' value='Upgrade')
  if errors
    ul 
      for error in errors 
        li!= error.msg