extends layout 

block content 
  h1 Join the club!

  form(method='POST' action='')
    label(for='joinCode') Enter the secret code to join the club 
    br
    input(type='text' name='joinCode')
    br
    input(type='submit' value='Join')
  if errors
    ul 
      for error in errors 
        li!= error.msg