extends layout 

block content 
  h1 Join the club!

  form.joinClubForm(method='POST' action='')
    label#joinCode(for='joinCode') Enter the secret code to join the club 
    br
    input#joinCodeInput(type='text' name='joinCode')
    br
    input#joinCodeSubmit(type='submit' value='Join')
  if errors
    ul 
      for error in errors 
        li!= error.msg