extends layout 

block content 
  h1 Log in 

  form.loginForm(method='POST' action='')
    label#email(for='email') Email 
    input#emailLogin(type='email' name='email' value=(email !== undefined ? email : ''))
    label#password(for='password') Password
    input#passwordLogin(type='password' name='password' value=(password !== undefined ? password : ''))
    input#login(type='submit' value='Login')
  if errors 
    ul 
      for error in errors 
        li!= error.msg