extends layout 

block content 
  h1 Log in 

  form(method='POST' action='')
    label(for='email') Email 
    br
    input(type='email' name='email' value=(email !== undefined ? email : ''))
    br
    label(for='password') Password
    br
    input(type='password' name='password' value=(password !== undefined ? password : ''))
    br
    input(type='submit' value='Login')
  if errors 
    ul 
      for error in errors 
        li!= error.msg