extends layout 

block content 
  h1 Create a new message

  form.newMessage(method='POST' action='')
    label#title(for='title') Title 
    input#titleInput(type='text' name='title' value=(message !== undefined ? message.title : ''))
    label#body(for='body') Body 
    textarea#bodyInput(name='body' value=(message !== undefined ? message.body : ''))
    input#post(type='submit' value='Post')
  if errors 
    ul 
      for error in errors 
        li!= error.msg