extends layout 

block content 
  h1 Sign up

  form.signupForm(method='POST', action='')
    label#firstName(for='firstName') First name
    input#firstNameInput(type='text' name='firstName' value=(user !== undefined ? user.firstName : ''))
    label#lastName(for='lastName') Last name 
    input#lastNameInput(type='text' name='lastName' value=(user !== undefined ? user.lastName : ''))
    label#emailSignup(for='email') Email
    input#emailSignupInput(type='email' name='email' value=(user !== undefined ? user.email : ''))
    label#passwordSignup(for='password') Password 
    input#passwordSignupInput(type='password' name='password' value=(password !== undefined ? password : ''))
    label#confirmPassword(for='passwordConfirmation') Confirm password 
    input#confirmPasswordInput(type='password' name='passwordConfirmation')
    input#signup(type='submit' value='Sign up')
  if errors 
    ul 
      for error in errors 
        li!= error.msg